@import "../../colorAndFont";
header {
  padding: 10px 2rem 10px 2rem;
  border-bottom: 1px $borderSectionLight solid;
  background: $backgroundHeaderLight;
}
.headerChildren {
  // display: flex;
  // justify-content: space-between;
  max-width: 810px;
  margin: 0 auto;
  text-align: center;
}

.switchbutton {
  color: $fontColorLight;
  cursor: pointer;
  transition: all 0.3s;
  font-weight: bold;
  font-size: 12px;
  background-color: $mainColorSwitchButtonLight;
  padding: 0px 1px 0px 1px;
  height: 45.58px;
  width: 45.58px;
  border: none;
  border-radius: 5px;

  &:hover {
    background-color: $hoverColorSwitchButtonLight;
  }
  &:active {
    background-color: $mainColorSwitchButtonLight;
  }
}
