@import "../../colorAndFont";

#remindersTable {
  background: $deskСolor;
  padding: 4px 4px 4px 4px;
  margin-top: 0.5rem;
  margin-left: 1rem;
  border-collapse: separate;
  border-spacing: 15px 15px;
  border: 3px $borderDeskColorLight solid;
  td {
    width: 210px;
    height: 210px;
    margin-right: 5px;
  }
}
