@import "../../colorAndFont";
* {
  font-family: $main-font;
}
.control {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 0.5rem 1rem;
  width: 100%;
  margin-bottom: 1rem;
}

#remindersForm {
  border: 3px $borderDeskColorLight solid;
  background: $deskСolor;
  margin-top: 0.5rem;
  padding: 2rem 2rem 2rem 2rem;
  label {
    font-family: $main-font;
    font-size: 20px;
    font-weight: bold;
  }
}
#setOnDesk {
  justify-content: center;
  margin-left: 30px;
}
.label {
  font-family: $main-font;
}
