@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

// fonts
$main-font: "M PLUS Rounded 1c", serif;

// color light theme
$borderSectionLight: #ccc;
$deskСolorLight: linear-gradient(to top, #604a3c, #9d724f);
$borderDeskColorLight: black;
$setColorLight: #fdf5e6;
$backgroundHeaderLight: #fafafa;
$mainColorSwitchButtonLight: #3e6ae1;
$hoverColorSwitchButtonLight: #6d8ad9;
$fontColorLight: white;
$backgroundThemeLight: white;
// color dark theme
$backgroundThemeDark: #5d6771;
