@import url("https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap");

// fonts
$main-font: "M PLUS Rounded 1c", serif;

// color light theme

$borderSectionLight: #ccc;
$deskСolor: linear-gradient(to top, #604a3c, #9d724f);
$borderDeskColorLight: black;
$setColorLight: #fdf5e6;
$backgroundHeaderLight: #fafafa;
$mainColorSwitchButton: #3e6ae1;
$hoverColorSwitchButton: #6d8ad9;
$fontWhiteColor: white;
$backgroundLightTheme: white;
$backgroundDarkTheme: #5d6771;
